/* common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: rgb(230,230,230);
}

:root{
    --blue: #1e90ff;
    --purple: #A66CFF;
    --orange: #FF9551; 
    --green: #59CE8F;
    --lightgreen: #7DCE13;
    --fuchsia: #F35588;
}

h1, h3{
    display: inline-block;
}

.item-button{
    color:white;
    padding:5px;
    border-radius: 35%;
    font-size: 0.55rem;
    border:0;
}

.blue{
    background-color: var(--blue);
}

.purple{
    background-color: var(--purple);
}

.green{
    background-color: var(--green);
}
.lightgreen{
    background-color: var(--lightgreen);
}
.orange{
    background-color: var(--orange);
}

.fuchsia{
    background-color: var(--fuchsia);
}

/* header */
header{
    padding: 1rem 0 1rem 1.5rem;
    background-color: white;
}

/* main */
main{
    width: 50%;
    margin:auto;
    margin-top: 2rem;
}

.button-section{
    margin: 1px;
    padding-bottom: 1rem;
}

hr{
    width: 100%;
}

/* container */
.container{
    background-color: white;
    padding-left: 2.5rem;
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
}
/* check and to-do settings */
.check{
    border: 1px solid #59CE8F;
    color:#59CE8F;
    border-radius: 50%;
    padding:2px;
    margin-right:0.5rem;
}

.to_do{
    border: 1px solid red;
    color:red;
    border-radius: 50%;
    padding:2px;
    margin-right:0.5rem;
}

.title{
    margin-top:1rem;
    margin-bottom:0.75rem;
}

section {
    margin-top:2rem;
    margin-bottom:2rem;
}

.item{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
